*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html{
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: 'Press Start 2P', cursive;
  background: rgb(255,228,0);
  background: radial-gradient(circle, rgba(255,228,0,1) 0%, rgba(205,24,24,1) 100%);
}

.full-bar-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-container {
  height: 50px;;
  width: 300px;
}

.search-container input {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
}

.btns-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* width: 25%; */
}

.btns-container button{
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #0A285F;
  padding: 14px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.full-container{
  padding: 50px;
  width: 100%;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    justify-content:space-evenly;
    align-content: center;
    height: 100%;
}

.poke-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: linear-gradient(32deg, #DA1212 22%, rgba(0,117,190,1) 45%, #041562 65%, #DA1212  99%);
  border: 2px black solid;
  width: auto;
  border-radius: 10px;
  text-align: center;
  height: auto;
}

.poke-name{
  font-size: 25px;
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.poke-type{
  margin-top: 10px;
  font-size: 20px;
  text-transform: capitalize;
}

.stats-container{
  display: flex;
  justify-content: space-between;
  line-height: 35px;
  width: 100%;
}

.txt-stats{
  text-align: left;
}

.stats-container p{
  font-size: 15px;
}





